/* CSS declarations go here */
body {
  font-family: sans-serif;
  /*background-color: #315481;*/

  background-color: #29120C;
  /*background-image: linear-gradient(to bottom, #315481, #918e82 100%);*/
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 10;
 
  font-size: 14px;
}

header {
  color: #79431F;
  border-bottom: 2px solid #79431F;
  /*background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
  font-size: 20px;
  padding: 20px 15px 15px 15px;
  position: relative;
}
 
#login-buttons {
  display: block;
  float: right;
}

.headerButton {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}
 
h1 {
  font-size: 50px;
  margin-left: 50px;
  vertical-align: center;
  margin-bottom: 10px;
  display: inline-block;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
h3 {
  margin-top: 0px;
  color: #79431F
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-task input:focus{
  outline: 0;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
.container {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
  background: #F9EEEC;
  padding: 30px 50px;
  border: 5px solid #79431F;
}

.login {
  text-align: right;
}

.taglist {
  padding: 20px;
}

ul.all-posts-container {
  width: 100%;
  padding: 20px 30px;
}

ul.comments {
  padding-left: 0px;
  overflow-y: scroll;
  height: 50%;
  border-radius: 8px;
}

iframe {
  width: 350px !important;
  float: right;
}

li.fb-post {  
  display: inline-block;
  padding: 10px 0px;
  width: 400px;
  list-style: none;
}

li.extra-post-info {
  display: inline-block;
  padding: 10px 30px 10px 20px;
  width: 150px;
  height: 400px;
}

.issue-tag-list {
  margin: 0;
  padding: 0;
}

.dropbtn {
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: lightgray; 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    z-index: 1;
    max-height: 150px;
    border-radius: 5px;
    position: absolute;
    overflow-y: scroll;
    background-color: white;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 6px, 2px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

li {
  position: relative;
  list-style: none;
  padding: 10px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}

li.comment {
  position: relative;
  list-style: none;
  padding: 10px;
  border: #eee solid 1px;
  background: #efe6e5;
}

button.issue-tag {
  position: relative;
  list-style: none;
  padding: 5px;
  color: blue;
  background: white;
  border: #eee solid 1px;
  font-size: 12px;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }
}